<div class="row">

  <div class="col-md-4 col-lg-4 mb-4">

    <app-select-fecha></app-select-fecha>

  </div>

  <div class="col-md-12 col-lg-12 col-sm-12 centrar" *ngIf="cambiar">

    <h1 class="display-3">OBTENIENDO DATOS</h1>

  </div>

  <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="!cambiar">

    <div class="card">

      <div class="card-body">

        <h3>Meta {{(importe) | currency}} en Venta | Promedio Diario de {{vtaMin | currency}}</h3>

        <div class="row">

          <div class="col-md-12 col-lg-3 col-sm-12 centrar text-center">

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES DEL DÍA</h6>
            
            <h1>{{clientesTotales}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES DEL DÍA CON PEDIDOS</h6>

            <h1>{{clientesPedidosTotales}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES FALTANTES</h6>

            <h1 class="text-danger font-weight-bold">{{(clientesTotales - clientesPedidosTotales)}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>TRABAJADO</h6>

            <h1>{{trabajado | percent: '0.3'}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

          </div>

          <div class="col-md-12 col-lg-3 col-sm-12 centrar">

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>MÍNIMO CLIENTES DÍA</h6>

            <h1>{{minimo}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES DEL DÍA CON PEDIDOS</h6>

            <h1>{{clientesPedidosTotales}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES FALTANTES</h6>

            <h1 class="text-danger font-weight-bold">{{(minimo - clientesPedidosTotales)}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>TRABAJADO</h6>

            <h1>{{(clientesPedidosTotales / minimo) | percent: '0.3'}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

          </div>

          <div class="col-md-12 col-lg-3 col-sm-12 centrar">

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>META CLIENTES</h6>

            <h1>{{minimo}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES DEL DIA ACTUAL</h6>

            <h1>{{clientesTotales}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>CLIENTES POR APERTURAR</h6>

            <h1 class="text-danger font-weight-bold">{{(minimo - clientesTotales)}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>COBERTURA META</h6>

            <h1>{{(clientesTotales / minimo) | percent: '0.3'}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

          </div>

          <div class="col-md-12 col-lg-3 col-sm-12 my-5 centrar">

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>META</h6>

            <h1>{{importe | currency}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>LOGRADO</h6>

            <h1>{{totalVta | currency}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>POR HACER</h6>

            <h1 class="text-danger font-weight-bold">{{(importe - totalVta) | currency}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

            <h6>TRABAJADO</h6>

            <h1>{{(totalVta / importe) | percent: '0.2'}}</h1>

            <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="!cambiar">

    <div class="card">

      <div class="card-body">

        <h1 class="card-title">Resumen Ventas</h1>

        <div class="row">
          
          <div class="col-md-12 col-lg-12 col-sm-12 text-right">

            <h3 class="display-2">Zona 1</h3>

          </div>

          <div class="col-md-12 col-lg-7 col-sm-12">

            <div class="row">
    
              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 10px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th colspan="3" class="text-center border border-bottom-0">CLIENTES</th>

                        <th colspan="3"></th>

                        <th colspan="2" class="text-center border border-bottom-0">%</th>

                      </tr>

                      <tr>

                        <th>Zona 1</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Dia</th>

                        <th class="text-center">Con<br>Ped</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">Faltan</th>

                        <th class="text-center">Pedidos</th>

                        <th>Importe</th>

                        <th>Pendiente</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Cli</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">$</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores15, let i = index" [ngClass]="{'active': i === 0}">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-right-0 border-bottom-0">{{seccion.CLIENTES_DIA}}</td>

                        <td class="text-center border border-left-0 border-right-0 border-bottom-0">{{seccion.DIA_C_VTA}}</td>

                        <td class="text-center font-weight-bold border border-left-0 border-bottom-0" [ngClass]="{'text-danger': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) > 0, 'text-success': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) === 0}">{{(seccion.CLIENTES_DIA - seccion.DIA_C_VTA)}}</td>

                        <td class="text-center">{{seccion.PEDIDOS}}</td>

                        <td><h4><span class="label" [ngClass]="{'label-success': seccion.IMPORTE >= vtaMin, 'label-warning': seccion.IMPORTE > 0 && seccion.IMPORTE < vtaMin, 'label-danger': seccion.IMPORTE === 0}">{{seccion.IMPORTE | currency}}</span></h4></td>

                        <td><h4><span class="label" [ngClass]="{'bg-success': (vtaMin - seccion.IMPORTE) < 0, 'bg-danger': (vtaMin - seccion.IMPORTE) >= 0}">{{((vtaMin - seccion.IMPORTE) <= 0 ? 0 : (vtaMin - seccion.IMPORTE)) | currency}}</span></h4></td>

                        <td class="text-center border border-right-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) <= 0.9999, 'label-success': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) > 0.9999}">{{ (((seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) > 1 ? 1 : (seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) | percent}}</span></h4>
                        </td>

                        <td class="text-center border border-left-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.IMPORTE / vtaMin) <= 0.9999, 'label-success': (seccion.IMPORTE / vtaMin) > 0.9999}">{{ ((seccion.IMPORTE / vtaMin) > 1 ? 1 : (seccion.IMPORTE / vtaMin)) | percent}}</span></h4>
                        </td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCli15}}</th>

                        <th class="text-center">{{totalCliVta15}}</th>

                        <th class="text-center">{{totalCliFal15}}</th>

                        <th class="text-center">{{totalPed15}}</th>

                        <th>{{totalImporte15 | currency}}</th>

                        <th>{{totalPendiente15 | currency}}</th>

                        <th class="text-center border border-0">
                          {{(totalCliVta15 / totalCli15) | percent}}
                        </th>

                        <th class="text-center border border-0">
                          {{(totalImporte15 / (vtaMin * 5)) | percent}}
                        </th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 5px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th colspan="3" class="text-center border border-bottom-0">CLIENTES</th>

                        <th colspan="3"></th>

                        <th colspan="2" class="text-center border border-bottom-0">%</th>

                      </tr>

                      <tr>

                        <th>Zona 1</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Dia</th>

                        <th class="text-center">Con<br>Ped</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">Faltan</th>

                        <th class="text-center">Pedidos</th>

                        <th>Importe</th>

                        <th>Pendiente</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Cli</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">$</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores610, let i = index">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-right-0 border-bottom-0">{{seccion.CLIENTES_DIA}}</td>

                        <td class="text-center border border-left-0 border-right-0 border-bottom-0">{{seccion.DIA_C_VTA}}</td>

                        <td class="text-center font-weight-bold border border-left-0 border-bottom-0" [ngClass]="{'text-danger': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) > 0, 'text-success': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) === 0}">{{(seccion.CLIENTES_DIA - seccion.DIA_C_VTA)}}</td>

                        <td class="text-center">{{seccion.PEDIDOS}}</td>

                        <td><h4><span class="label" [ngClass]="{'label-success': seccion.IMPORTE >= vtaMin, 'label-warning': seccion.IMPORTE > 0 && seccion.IMPORTE < vtaMin, 'label-danger': seccion.IMPORTE === 0}">{{seccion.IMPORTE | currency}}</span></h4></td>

                        <td><h4><span class="label" [ngClass]="{'bg-success': (vtaMin - seccion.IMPORTE) < 0, 'bg-danger': (vtaMin - seccion.IMPORTE) >= 0}">{{((vtaMin - seccion.IMPORTE) <= 0 ? 0 : (vtaMin - seccion.IMPORTE)) | currency}}</span></h4></td>

                        <td class="text-center border border-right-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) <= 0.9999, 'label-success': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) > 0.9999}">{{ (((seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) > 1 ? 1 : (seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) | percent}}</span></h4>
                        </td>

                        <td class="text-center border border-left-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.IMPORTE / vtaMin) <= 0.9999, 'label-success': (seccion.IMPORTE / vtaMin) > 0.9999}">{{ ((seccion.IMPORTE / vtaMin) > 1 ? 1 : (seccion.IMPORTE / vtaMin)) | percent}}</span></h4>
                        </td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCli610}}</th>

                        <th class="text-center">{{totalCliVta610}}</th>

                        <th class="text-center">{{totalCliFal610}}</th>

                        <th class="text-center">{{totalPed610}}</th>

                        <th>{{totalImporte610 | currency}}</th>
                        
                        <th>{{totalPendiente610 | currency}}</th>

                        <th class="text-center border border-0">
                          {{(totalCliVta610 / totalCli610) | percent}}
                        </th>

                        <th class="text-center border border-0">
                          {{(totalImporte610 / (importe * 5)) | percent}}
                        </th>

                      </tr>

                      <tr class="bg-primary text-white">

                          <th>Total Zona 1</th>

                          <th class="text-center">{{(totalCli610 + totalCli15)}}</th>

                          <th class="text-center">{{(totalCliVta610 + totalCliVta15)}}</th>

                          <th class="text-center">{{(totalCliFal610 + totalCliFal15)}}</th>

                          <th class="text-center">{{(totalPed610 + totalPed15)}}</th>

                          <th>{{(totalImporte610 + totalImporte15) | currency}}</th>
                          
                          <th>{{(totalPendiente610 + totalPendiente15) | currency}}</th>

                          <th class="text-center border border-0">
                            {{((totalCliVta610 + totalCliVta15) / (totalCli15 + totalCli610)) | percent}}
                          </th>

                          <th class="text-center border border-0">
                            {{((totalImporte610 + totalImporte15) / (vtaMin * pedidos)) | percent}}
                          </th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

            </div>

          </div>

          <div class="col-md-12 col-lg-5 col-sm-12">

            <div class="row">

              <div class="col-md-12 col-lg-12 col-sm-12 text-center">

                <h3>CLIENTES DEL DÍA</h3>

              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

                <h6>TOTAL</h6>
    
                <h1>{{(totalCli610 + totalCli15)}}</h1>
    
                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

                <h6 class="text-center">CON PEDIDOS</h6>
    
                <h1>{{(totalCliVta610 + totalCliVta15)}}</h1>
    
                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

                <h6>FALTANTES</h6>
    
                <h1 class="text-danger font-weight-bold">{{(totalCliFal610 + totalCliFal15)}}</h1>
    
                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

                <h6>TRABAJADO</h6>
    
                <h1>{{((totalCliVta610 + totalCliVta15) / (totalCli610 + totalCli15)) | percent: '0.2'}}</h1>
    
                <!-- <hr class="border border-bottom-0 border-left-0 border-right-0 w-50"> -->

              </div>

              <div class="col-md-12 col-lg-12 col-sm-12 mt-4">

                <h3 class="text-center">LISTA DE MENOR VENTA & CLIENTES CON PEDIDOS</h3>

                <div class="responsive-table font-14">

                  <table class="table table-sm">
    
                    <thead>
    
                      <tr>
    
                        <th>Asesor</th>
    
                        <th>Importe</th>

                        <th>Falta</th>

                        <th class="text-center">Clientes</th>

                        <th class="text-center">Pendiente</th>
    
                      </tr>
    
                    </thead>
    
                    <tbody>
    
                      <tr *ngFor="let mv of resumenmenorZ1">
    
                        <td class="font-weight-bold">{{mv.NOMBRE}}</td>
    
                        <td class="font-weight-bold" [ngClass]="{'text-danger': mv.IMPORTE === 0}">{{mv.IMPORTE | currency}}</td>

                        <td class="font-weight-bold" [ngClass]="{'text-danger': (mv.IMPORTE - vtaMin) <= 0, 'text-success': (mv.IMPORTE - vtaMin) > 0}">{{((mv.IMPORTE - vtaMin) < 0 ? (vtaMin - mv.IMPORTE) : (mv.IMPORTE - vtaMin)) | currency}}</td>

                        <td class="font-weight-bold text-center" [ngClass]="{'text-danger': mv.DIA_C_VTA === 0}">{{mv.DIA_C_VTA}}</td>

                        <td class="font-weight-bold text-center" [ngClass]="{'text-danger': (mv.CLIENTES_DIA - mv.DIA_C_VTA) <= mv.CLIENTES_DIA}">{{(mv.CLIENTES_DIA - mv.DIA_C_VTA)}}</td>
    
                      </tr>
    
                    </tbody>
    
                  </table>
    
                </div>

              </div>

            </div>

          </div>

          <hr class="border border-bottom-0 border-left-0 border-right-0 w-50">

          <div class="col-md-12 col-lg-12 col-sm-12 text-right">

            <h3 class="display-2">Zona 2</h3>

          </div>

          <div class="col-md-12 col-lg-7 col-sm-12">

            <div class="row">


              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 5px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th colspan="3" class="text-center border border-bottom-0">CLIENTES</th>

                        <th colspan="3"></th>

                        <th colspan="2" class="text-center border border-bottom-0">%</th>

                      </tr>

                      <tr>

                        <th>Zona 2</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Dia</th>

                        <th class="text-center">Con<br>Ped</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">Faltan</th>

                        <th class="text-center">Pedidos</th>

                        <th>Importe</th>

                        <th>Pendiente</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Cli</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">$</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores1115, let i = index" [ngClass]="{'active': i === 0}">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-right-0 border-bottom-0">{{seccion.CLIENTES_DIA}}</td>

                        <td class="text-center border border-left-0 border-right-0 border-bottom-0">{{seccion.DIA_C_VTA}}</td>

                        <td class="text-center font-weight-bold border border-left-0 border-bottom-0" [ngClass]="{'text-danger': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) > 0, 'text-success': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) === 0}">{{(seccion.CLIENTES_DIA - seccion.DIA_C_VTA)}}</td>

                        <td class="text-center">{{seccion.PEDIDOS}}</td>

                        <td><h4><span class="label" [ngClass]="{'label-success': seccion.IMPORTE >= vtaMin, 'label-warning': seccion.IMPORTE > 0 && seccion.IMPORTE < vtaMin, 'label-danger': seccion.IMPORTE === 0}">{{seccion.IMPORTE | currency}}</span></h4></td>

                        <td><h4><span class="label" [ngClass]="{'bg-success': (vtaMin - seccion.IMPORTE) < 0, 'bg-danger': (vtaMin - seccion.IMPORTE) >= 0}">{{((vtaMin - seccion.IMPORTE) <= 0 ? 0 : (vtaMin - seccion.IMPORTE)) | currency}}</span></h4></td>

                        <td class="text-center border border-right-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) <= 0.9999, 'label-success': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) > 0.9999}">{{ (((seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) > 1 ? 1 : (seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) | percent}}</span></h4>
                        </td>

                        <td class="text-center border border-left-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.IMPORTE / vtaMin) <= 0.9999, 'label-success': (seccion.IMPORTE / vtaMin) > 0.9999}">{{ ((seccion.IMPORTE / vtaMin) > 1 ? 1 : (seccion.IMPORTE / vtaMin)) | percent}}</span></h4>
                        </td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCli1115}}</th>

                        <th class="text-center">{{totalCliVta1115}}</th>

                        <th class="text-center">{{totalCliFal1115}}</th>

                        <th class="text-center">{{totalPed1115}}</th>

                        <th>{{totalImporte1115 | currency}}</th>
                        
                        <th>{{totalPendiente1115 | currency}}</th>

                        <th class="text-center border border-0">
                          {{(totalCliVta1115 / totalCli1115) | percent}}
                        </th>

                        <th class="text-center border border-0">
                          {{(totalImporte1115 / (vtaMin * 5)) | percent}}
                        </th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 5px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th colspan="3" class="text-center border border-bottom-0">CLIENTES</th>

                        <th colspan="3"></th>

                        <th colspan="2" class="text-center border border-bottom-0">%</th>

                      </tr>

                      <tr>

                        <th>Zona 2</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Dia</th>

                        <th class="text-center">Con<br>Ped</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">Faltan</th>

                        <th class="text-center">Pedidos</th>

                        <th>Importe</th>

                        <th>Pendiente</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-right-0">Cli</th>

                        <th class="text-center border border-bottom-0 border-top-0 border-left-0">$</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores1620, let i = index">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-right-0 border-bottom-0">{{seccion.CLIENTES_DIA}}</td>

                        <td class="text-center border border-left-0 border-right-0 border-bottom-0">{{seccion.DIA_C_VTA}}</td>

                        <td class="text-center font-weight-bold border border-left-0 border-bottom-0" [ngClass]="{'text-danger': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) > 0, 'text-success': (seccion.CLIENTES_DIA - seccion.DIA_C_VTA) === 0}">{{(seccion.CLIENTES_DIA - seccion.DIA_C_VTA)}}</td>

                        <td class="text-center">{{seccion.PEDIDOS}}</td>

                        <td><h4><span class="label" [ngClass]="{'label-success': seccion.IMPORTE >= vtaMin, 'label-warning': seccion.IMPORTE > 0 && seccion.IMPORTE < vtaMin, 'label-danger': seccion.IMPORTE === 0}">{{seccion.IMPORTE | currency}}</span></h4></td>

                        <td><h4><span class="label" [ngClass]="{'bg-success': (vtaMin - seccion.IMPORTE) < 0, 'bg-danger': (vtaMin - seccion.IMPORTE) >= 0}">{{((vtaMin - seccion.IMPORTE) <= 0 ? 0 : (vtaMin - seccion.IMPORTE)) | currency}}</span></h4></td>

                        <td class="text-center border border-right-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) <= 0.9999, 'label-success': (seccion.DIA_C_VTA / seccion.CLIENTES_DIA) > 0.9999}">{{ (((seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) > 1 ? 1 : (seccion.DIA_C_VTA / seccion.CLIENTES_DIA)) | percent}}</span></h4>
                        </td>

                        <td class="text-center border border-left-0 border-bottom-0">
                          <h4><span class="label" [ngClass]="{'label-danger': (seccion.IMPORTE / vtaMin) <= 0.9999, 'label-success': (seccion.IMPORTE / vtaMin) > 0.9999}">{{ ((seccion.IMPORTE / vtaMin) > 1 ? 1 : (seccion.IMPORTE / vtaMin)) | percent}}</span></h4>
                        </td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCli1620}}</th>

                        <th class="text-center">{{totalCliVta1620}}</th>

                        <th class="text-center">{{totalCliFal1620}}</th>

                        <th class="text-center">{{totalPed1620}}</th>

                        <th>{{totalImporte1620 | currency}}</th>
                        
                        <th>{{totalPendiente1620 | currency}}</th>
                        
                        <th class="text-center border border-0">
                          {{(totalCliVta1620 / totalCli1620) | percent}}
                        </th>

                        <th class="text-center border border-0">
                          {{(totalImporte1620 / (vtaMin * 5)) | percent}}
                        </th>

                      </tr>

                      <tr class="bg-primary text-white">

                          <th>Total Zona 2</th>

                          <th class="text-center">{{(totalCli1115 + totalCli1620)}}</th>

                          <th class="text-center">{{(totalCliVta1115 + totalCliVta1620)}}</th>

                          <th class="text-center">{{(totalCliFal1115 + totalCliFal1620)}}</th>

                          <th class="text-center">{{(totalPed1115 + totalPed1620)}}</th>

                          <th>{{(totalImporte1620 + totalImporte1115) | currency}}</th>
                          
                          <th>{{(totalPendiente1115 + totalPendiente1620) | currency}}</th>

                          <th class="text-center border border-0">
                            {{((totalCliVta1115 + totalCliVta1620) / (totalCli1115 + totalCli1620)) | percent}}
                          </th>

                          <th class="text-center border border-0">
                            {{((totalImporte1620 + totalImporte1115) / (vtaMin * pedidos)) | percent}}
                          </th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

            </div>

          </div>

          <div class="col-md-12 col-lg-5 col-sm-12">

            <div class="row">

              <div class="col-md-12 col-lg-12 col-sm-12 text-center">

                <h3>CLIENTES DEL DÍA</h3>

              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <h6>TOTAL</h6>
    
                <h1>{{(totalCli1115 + totalCli1620)}}</h1>
    
              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <h6 class="text-center">CON PEDIDOS</h6>
    
                <h1>{{(totalCliVta1115 + totalCliVta1620)}}</h1>
    
              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <h6>FALTANTES</h6>
    
                <h1 class="text-danger font-weight-bold">{{(totalCliFal1115 + totalCliFal1620)}}</h1>
    
              </div>

              <div class="col-md-12 col-lg-3 col-sm-12 text-center">

                <h6>TRABAJADO</h6>
    
                <h1>{{((totalCliVta1115 + totalCliVta1620) / (totalCli1115 + totalCli1620)) | percent: '0.2'}}</h1>
    
              </div>

              <div class="col-md-12 col-lg-12 col-sm-12 mt-4">

                <h3 class="text-center">LISTA DE MENOR VENTA & CLIENTES CON PEDIDOS</h3>

                <div class="responsive-table font-14">

                  <table class="table table-sm">
    
                    <thead>
    
                      <tr>
    
                        <th>Asesor</th>
    
                        <th>Importe</th>

                        <th>Falta</th>

                        <th class="text-center">Clientes</th>

                        <th class="text-center">Pendiente</th>
    
                      </tr>
    
                    </thead>
    
                    <tbody>
    
                      <tr *ngFor="let mv of resumenmenorZ2">
    
                        <td class="font-weight-bold">{{mv.NOMBRE}}</td>
    
                        <td class="font-weight-bold" [ngClass]="{'text-danger': mv.IMPORTE === 0}">{{mv.IMPORTE | currency}}</td>

                        <td class="font-weight-bold" [ngClass]="{'text-danger': (mv.IMPORTE - vtaMin) <= 0, 'text-success': (mv.IMPORTE - vtaMin) > 0}">{{((mv.IMPORTE - vtaMin) < 0 ? (vtaMin - mv.IMPORTE) : (mv.IMPORTE - vtaMin)) | currency}}</td>

                        <td class="font-weight-bold text-center" [ngClass]="{'text-danger': mv.DIA_C_VTA === 0}">{{mv.DIA_C_VTA}}</td>

                        <td class="font-weight-bold text-center" [ngClass]="{'text-danger': (mv.CLIENTES_DIA - mv.DIA_C_VTA) < mv.CLIENTES_DIA}">{{(mv.CLIENTES_DIA - mv.DIA_C_VTA)}}</td>
    
                      </tr>
    
                    </tbody>
    
                  </table>
    
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- <div class="col-md-12 col-lg-12 col-sm-12">

    <div class="card">

      <div class="card-body">

        <h1 class="card-title">Resumen Cobranza</h1>

        <h3>Cartera del día <span class="font-weight-bold">{{totalCobranzaCartera | currency}}</span></h3>

        <h3>Total Cobrado <span class="font-weight-bold">{{totalColectado | currency}}</span></h3>

        <div class="row">

          <div class="col-md-12 col-lg-6 col-sm-12">

            <div class="row">

              <div class="col-md-12 col-lg-12 col-sm-12">

                <h3 class="card-title">Zona 1</h3>
    
              </div>
              
              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 10px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th class="text-center border border-bottom-0">Clientes</th>

                        <th colspan="2" class="text-center border border-bottom-0">Cartera</th>

                      </tr>

                      <tr>

                        <th>Asesor</th>

                        <th class="text-center border border-bottom-0 border-top-0">Con<br>Saldo</th>

                        <th class="text-center">Saldo</th>

                        <th class="text-center border border-left-0 border-top-0">Cobrado</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores15Cob, let i = index" [ngClass]="{'active': i === 0}">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-bottom-0">{{seccion.CLI_C_COBRO}}</td>

                        <td class="text-right"><h4><span class="label" [ngClass]="{'label-danger': seccion.COBRO > 0, 'label-success': seccion.COBRO === 0}">{{seccion.COBRO | currency}}</span></h4></td>

                        <td class="text-right border border-bottom-0 border-left-0"><h4><span class="label label-success">{{seccion.COBRADO | currency}}</span></h4></td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCliCob15}}</th>

                        <th class="text-right">{{totalSaldoCob15 | currency}}</th>

                        <th class="text-right">{{totalCobrado15 | currency}}</th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 5px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th class="text-center border border-bottom-0">Clientes</th>

                        <th colspan="2" class="text-center border border-bottom-0">Cartera</th>

                      </tr>

                      <tr>

                        <th>Asesor</th>

                        <th class="text-center border border-bottom-0 border-top-0">Con<br>Saldo</th>

                        <th class="text-center">Saldo</th>

                        <th class="text-center border border-left-0 border-top-0">Cobrado</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores610Cob, let i = index">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-bottom-0">{{seccion.CLI_C_COBRO}}</td>

                        <td class="text-right"><h4><span class="label" [ngClass]="{'label-danger': seccion.COBRO > 0, 'label-success': seccion.COBRO === 0}">{{seccion.COBRO | currency}}</span></h4></td>

                        <td class="text-right border border-bottom-0 border-left-0"><h4><span class="label label-success">{{seccion.COBRADO | currency}}</span></h4></td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCliCob610}}</th>

                        <th class="text-right">{{totalSaldoCob610 | currency}}</th>

                        <th class="text-right">{{totalCobrado610 | currency}}</th>

                      </tr>

                      <tr class="bg-primary text-white">

                        <th>Total Zona 1</th>

                        <th class="text-center">{{(totalCliCob15 + totalCliCob610)}}</th>

                        <th class="text-right">{{(totalSaldoCob15 + totalSaldoCob610) | currency}}</th>

                        <th class="text-right">{{(totalCobrado15 + totalCobrado610) | currency}}</th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

            </div>

          </div>

          <div class="col-md-12 col-lg-6 col-sm-12">

            <div class="row">

              <div class="col-md-12 col-lg-12 col-sm-12">

                <h3 class="card-title">Zona 2</h3>
    
              </div>

              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 5px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th class="text-center border border-bottom-0">Clientes</th>

                        <th colspan="2" class="text-center border border-bottom-0">Cartera</th>

                      </tr>

                      <tr>

                        <th>Asesor</th>

                        <th class="text-center border border-bottom-0 border-top-0">Con<br>Saldo</th>

                        <th class="text-center">Saldo</th>

                        <th class="text-center border border-left-0 border-top-0">Cobrado</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores1115Cob, let i = index" [ngClass]="{'active': i === 0}">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-bottom-0">{{seccion.CLI_C_COBRO}}</td>

                        <td class="text-right"><h4><span class="label" [ngClass]="{'label-danger': seccion.COBRO > 0, 'label-success': seccion.COBRO === 0}">{{seccion.COBRO | currency}}</span></h4></td>

                        <td class="text-right border border-bottom-0 border-left-0"><h4><span class="label label-success">{{seccion.COBRADO | currency}}</span></h4></td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCliCob1115}}</th>

                        <th class="text-right">{{totalSaldoCob1115 | currency}}</th>

                        <th class="text-right">{{totalCobrado1115 | currency}}</th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

              <div class="col-md-12 col-lg-12 col-sm-12" style="padding-left: 5px!important; padding-right: 5px!important;">

                <div class="table-responsive">

                  <table class="table table-sm stylish-table">

                    <thead>

                      <tr>

                        <th></th>

                        <th class="text-center border border-bottom-0">Clientes</th>

                        <th colspan="2" class="text-center border border-bottom-0">Cartera</th>

                      </tr>

                      <tr>

                        <th>Asesor</th>

                        <th class="text-center border border-bottom-0 border-top-0">Con<br>Saldo</th>

                        <th class="text-center">Saldo</th>

                        <th class="text-center border border-left-0 border-top-0">Cobrado</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let seccion of asesores1620Cob, let i = index">

                        <td>
                          <h6>{{seccion.NOMBRE}}</h6>
                        </td>

                        <td class="text-center border border-bottom-0">{{seccion.CLI_C_COBRO}}</td>

                        <td class="text-right"><h4><span class="label" [ngClass]="{'label-danger': seccion.COBRO > 0, 'label-success': seccion.COBRO === 0}">{{seccion.COBRO | currency}}</span></h4></td>

                        <td class="text-right border border-bottom-0 border-left-0"><h4><span class="label label-success">{{seccion.COBRADO | currency}}</span></h4></td>

                      </tr>

                      <tr class="bg-info text-white">

                        <th>Total</th>

                        <th class="text-center">{{totalCliCob1620}}</th>

                        <th class="text-right">{{totalSaldoCob1620 | currency}}</th>

                        <th class="text-right">{{totalCobrado1620 | currency}}</th>

                      </tr>

                      <tr class="bg-primary text-white">

                        <th>Total Zona 2</th>

                        <th class="text-center">{{(totalCliCob1115 + totalCliCob1620)}}</th>

                        <th class="text-right">{{(totalSaldoCob1115 + totalSaldoCob1620) | currency}}</th>

                        <th class="text-right">{{(totalCobrado1115 + totalCobrado1620) | currency}}</th>

                      </tr>

                    </tbody>

                  </table>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div> -->

</div>
