<div class="row">

  <div class="col-lg-12 col-md-12 text-center">

    <app-total-pedidos></app-total-pedidos>

  </div>

  <div class="col-lg-3 col-md-12">

    <app-surtir></app-surtir>

  </div>

  <div class="col-lg-3 col-md-12">

      <app-bajar></app-bajar>

  </div>

  <div class="col-lg-3 col-md-12">

    <app-facturado></app-facturado>

  </div>

  <div class="col-lg-3 col-md-12">

    <app-cancelado></app-cancelado>

  </div>

</div>

<!-- <div class="row">

  <div class="col-lg-12 col-md-12">

    <app-facturas></app-facturas>

  </div>

</div> -->

<div class="row">

  <!-- <div class="col-lg-12 col-md-12">

    <app-total-pedidos></app-total-pedidos>

  </div> -->

  <div class="col-lg-12 col-md-12">

    <app-time-line></app-time-line>

  </div>

</div>

<div class="row">

  <div class="col-lg-12 col-md-12">

    <app-out-time></app-out-time>

  </div>

</div>