<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper" style="padding-top: 0px!important; padding-bottom: 0px!important">

    <app-navegacion></app-navegacion>

      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">

        <router-outlet></router-outlet>

      </div>
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->

  </div>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->

</div>