<div class="row">

  <div class="col-md-4 col-lg-4 mb-4">

    <app-select-fecha></app-select-fecha>

  </div>

  <div class="col-md-4 col-lg-4"></div>

  <div class="col-md-4 col-lg-4">

    <button class="btn btn-instagram" type="button" (click)="obtenerVencidos(fechaEmit)">Actualizar</button>

  </div>

  <div class="col-md-12 col-lg-12 col-sm-12">

    <div class="card">

      <div class="card-body centrar" style="height: 400px!important;" *ngIf="zona1.length === 0">
        <div class="spinner-grow text-secondary" role="status" style="width: 3rem; height: 3rem;"></div>
        <span class="">Cargando Zona 1</span>
      </div>

      <div class="card-body" *ngIf="zona1.length > 0">

        <h1 class="card-title">Cartera Vencida & Saldo General</h1>
        
        <h3>Cartera del día <span class="font-weight-bold">{{(cart_dia_no_vencida1 + cart_dia_vencida2) | currency}}</span></h3>
        
        <h3>Total Cobrado <span class="font-weight-bold">{{(cob_dia_no_vencida1 + cob_dia_vencida2) | currency}}</span></h3>

        <hr class="mb-4">

        <div class="row mt-4 pt-3">

          <div class="col-lg-8 col-md-8">

            <h1 class="card-title">Zona 1</h1>

            <table class="table">

              <tbody>

                <tr>

                  <td class="font-weight-bold">CARTERA DEL DIA NO VENCIDA</td>

                  <td class="font-weight-bold text-success">{{cart_dia_no_vencida1 | currency}}</td>

                  <td class="font-weight-bold">COBRADO DEL DIA NO VENCIDA</td>

                  <td class="font-weight-bold text-success">{{cob_dia_no_vencida1 | currency}}</td>

                  <td class="font-weight-bold">SALDO</td>

                  <td class="font-weight-bold" [ngClass]="{'text-danger': cart_dia_no_vencida1 > 0, 'text-success': cart_dia_no_vencida1 === 0}">{{(cart_dia_no_vencida1 - cob_dia_no_vencida1) | currency}}</td>

                </tr>

                <tr>

                  <td class="font-weight-bold">CARTERA DEL DIA VENCIDA</td>

                  <td class="font-weight-bold text-danger" [ngClass]="{'text-danger': cart_dia_vencida1 > 0, 'text-success': cart_dia_vencida1 === 0}">{{cart_dia_vencida1 | currency}}</td>

                  <td class="font-weight-bold">COBRADO DEL DIA VENCIDA</td>

                  <td class="font-weight-bold text-success">{{cob_dia_vencida1 | currency}}</td>

                  <td class="font-weight-bold">SALDO</td>

                  <td class="font-weight-bold" [ngClass]="{'text-danger': cart_dia_vencida1 > 0, 'text-success': cart_dia_vencida1 === 0}">{{(cart_dia_vencida1 - cob_dia_vencida1) | currency}}</td>

                </tr>

              </tbody>

            </table>

          </div>

          <div class="col-lg-4 col-md-4"></div>

        </div>

        <div class="table-responsive">

          <table class="table table-sm stylish-table table-hover">

            <thead>

              <tr>

                <th></th>

                <th colspan="7" class="text-center border border-bottom-0">Cartera del Día</th>

              </tr>

              <tr>

                <th></th>

                <th class="text-center border border-bottom-0" colspan="2">Totales</th>

                <th class="text-center border border-bottom-0" colspan="2">Sana</th>

                <th class="text-center border border-bottom-0" colspan="3">Vencido</th>

                <th></th>

              </tr>

              <tr>

                <th>Asesor</th>

                <th class="text-center border border-bottom-0 border-top-0 border-right-0">Cartera</th>

                <th class="text-center border border-bottom-0 border-top-0 border-left-0">Cobrado</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-right-0">Cartera</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-left-0">Cobrado</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-right-0">Cli Venc</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-right-0">Cartera</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-left-0">Cobrado</th>

              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let seccion of zona1, let i = index">

                <td style="padding: .2rem!important;">
                  <a style="padding: 0px!important;" class="nav-link cursor" (click)="verAsesor(seccion)" href="#modalFolio" data-dismiss="modal" data-toggle="modal">{{seccion.NOMBRE}}</a>
                </td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold">{{seccion.TOTAL | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold text-success">{{seccion.COBRADO | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold">{{seccion.SANA | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold text-success">{{seccion.COB_SANA | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-left-0 border-bottom-0"><span class="font-weight-bold" [ngClass]="{'text-danger': seccion.CLIENTES_C_SALDO > 0, 'text-success': seccion.CLIENTES_C_SALDO === 0}">{{seccion.CLIENTES_C_SALDO}}</span></td>
                
                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold" [ngClass]="{'text-danger': seccion.VENCIDO > 0, 'text-success': seccion.VENCIDO === 0}">{{seccion.VENCIDO | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold" [ngClass]="{'text-danger': seccion.VENCIDO > 0, 'text-success': seccion.VENCIDO === 0}">{{seccion.COB_VENC | currency}}</span></td>

              </tr>

              <tr class="bg-info text-white">

                <th class="text-center border border-top-0 border-left-0 border-right-0">Total</th>

                <th class="text-center border border-top-0 border-left-0 border-right-0">{{totalCobranzaCartera1 | currency}}</th>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{(cob_dia_no_vencida1 + cob_dia_vencida1) | currency}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cart_dia_no_vencida1 | currency}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cob_dia_no_vencida1 | currency}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cli_dia_vencida1}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cart_dia_vencida1 | currency}}</td>

                <th class="text-center border border-top-0 border-left-0 border-right-0">{{cob_dia_vencida1 | currency}}</th>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

      <div class="card-body centrar" style="height: 400px!important;" *ngIf="zona2.length === 0">
        <div class="spinner-grow text-secondary" role="status" style="width: 3rem; height: 3rem;"></div>
        <span class="">Cargando Zona 2</span>
      </div>

      <div class="card-body" *ngIf="zona2.length > 0">

        <div class="row">

          <div class="col-lg-8 col-md-8">

            <h1 class="card-title">Zona 2</h1>

            <table class="table">

              <tbody>

                <tr>

                  <td class="font-weight-bold">CARTERA DEL DIA NO VENCIDA</td>

                  <td class="font-weight-bold text-success">{{cart_dia_no_vencida2 | currency}}</td>

                  <td class="font-weight-bold">COBRADO DEL DIA NO VENCIDA</td>

                  <td class="font-weight-bold text-success">{{cob_dia_no_vencida2 | currency}}</td>

                  <td class="font-weight-bold">SALDO</td>

                  <td class="font-weight-bold" [ngClass]="{'text-danger': cart_dia_no_vencida2 > 0, 'text-success': cart_dia_no_vencida2 === 0}">{{(cart_dia_no_vencida2 - cob_dia_no_vencida2) | currency}}</td>

                </tr>

                <tr>

                  <td class="font-weight-bold">CARTERA DEL DIA VENCIDA</td>

                  <td class="font-weight-bold text-danger" [ngClass]="{'text-danger': cart_dia_vencida2 > 0, 'text-success': cart_dia_vencida2 === 0}">{{cart_dia_vencida2 | currency}}</td>

                  <td class="font-weight-bold">COBRADO DEL DIA VENCIDA</td>

                  <td class="font-weight-bold text-success">{{cob_dia_vencida2 | currency}}</td>

                  <td class="font-weight-bold">SALDO</td>

                  <td class="font-weight-bold" [ngClass]="{'text-danger': cart_dia_vencida2 > 0, 'text-success': cart_dia_vencida2 === 0}">{{(cart_dia_vencida2 - cob_dia_vencida2) | currency}}</td>

                </tr>

              </tbody>

            </table>

          </div>

          <div class="col-lg-4 col-md-4"></div>

        </div>

        <div class="table-responsive">

          <table class="table table-sm stylish-table table-hover">

            <thead>

              <tr>

                <th></th>

                <th colspan="7" class="text-center border border-bottom-0">Cartera del Día</th>

              </tr>

              <tr>

                <th></th>

                <th class="text-center border border-bottom-0" colspan="2">Totales</th>

                <th class="text-center border border-bottom-0" colspan="2">Sana</th>

                <th class="text-center border border-bottom-0" colspan="3">Vencido</th>

                <th></th>

              </tr>

              <tr>

                <th>Asesor</th>

                <th class="text-center border border-bottom-0 border-top-0 border-right-0">Cartera</th>

                <th class="text-center border border-bottom-0 border-top-0 border-left-0">Cobrado</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-right-0">Cartera</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-left-0">Cobrado</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-right-0">Cli Venc</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-right-0">Cartera</th>

                <th class="text-center border border-left-0 border-top-0 border-bottom-0 border-left-0">Cobrado</th>

              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let seccion of zona2, let i = index">

                <td style="padding: .2rem!important;">
                  <a style="padding: 0px!important;" class="nav-link cursor" (click)="verAsesor(seccion)" href="#modalFolio" data-dismiss="modal" data-toggle="modal">{{seccion.NOMBRE}}</a>
                </td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold">{{seccion.TOTAL | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold text-success">{{seccion.COBRADO | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold">{{seccion.SANA | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold text-success">{{seccion.COB_SANA | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-left-0 border-bottom-0"><span class="font-weight-bold" [ngClass]="{'text-danger': seccion.CLIENTES_C_SALDO > 0, 'text-success': seccion.CLIENTES_C_SALDO === 0}">{{seccion.CLIENTES_C_SALDO}}</span></td>
                
                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold" [ngClass]="{'text-danger': seccion.VENCIDO > 0, 'text-success': seccion.VENCIDO === 0}">{{seccion.VENCIDO | currency}}</span></td>

                <td style="padding: .2rem!important;" class="text-center border border-bottom-0"><span class="font-weight-bold" [ngClass]="{'text-danger': seccion.VENCIDO > 0, 'text-success': seccion.VENCIDO === 0}">{{seccion.COB_VENC | currency}}</span></td>

              </tr>

              <tr class="bg-info text-white">

                <th class="text-center border border-top-0 border-left-0 border-right-0">Total</th>

                <th class="text-center border border-top-0 border-left-0 border-right-0">{{totalCobranzaCartera2 | currency}}</th>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{(cob_dia_no_vencida2 + cob_dia_vencida2) | currency}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cart_dia_no_vencida2 | currency}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cob_dia_no_vencida2 | currency}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cli_dia_vencida2}}</td>

                <td class="text-center border border-top-0 border-left-0 border-right-0">{{cart_dia_vencida2 | currency}}</td>

                <th class="text-center border border-top-0 border-left-0 border-right-0">{{cob_dia_vencida2 | currency}}</th>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>

<div id="modalFolio" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalFolio" aria-hidden="true">

  <div class="modal-dialog modal-lg mw-100" style="width: 97%!important;">

    <div class="modal-content p-t-20 p-b-20 p-l-20 p-r-20">

      <div class="modal-header">

          <h3 class="card-title">Información Detallada del Asesor <b>{{nombre}}</b></h3>

          <button type="button" class="close" data-dismiss="modal" id="cerrarModalBusq" aria-label="Close">
  
              <span aria-hidden="true">&times;</span>
  
          </button>

      </div>

      <div class="modal-body">

        <h4>Remisiones Vencidos del día</h4>

        <div class="row">

          <div class="col-md-{{numCol1}} col-lg-{{numCol1}}">

            <div class="table-responsive">

              <table class="table table-sm table-hover font-14">
  
                <thead>
  
                  <tr>
  
                    <td colspan="3" class="border border-top-0 border-left-0 border-bottom-0"></td>
  
                    <th class="text-center border border-bottom-0 bg-success text-white" colspan="2">Fecha</th>
  
                    <td class="border border-top-0 border-left-0 border-bottom-0"></td>
  
                    <th class="text-center border border-bottom-0" colspan="3">Saldo</th>
  
                    <td class="border border-top-0 border-left-0 border-right-0 border-bottom-0"></td>
  
                  </tr>
  
                  <tr>
  
                    <th colspan="3" class="text-center">Cliente</th>
  
                    <th class="text-center border border-right-0 border-bottom-0 border-top-0">Emitida</th>
  
                    <th class="text-center border border-left-0 border-top-0 border-bottom-0">Vence</th>
  
                    <th class="text-center">Folio</th>
  
                    <th class="text-center border border-right-0 border-bottom-0 border-top-0">Original</th>
  
                    <th class="text-center">Actual</th>
  
                    <th class="text-center border border-left-0 border-top-0 border-bottom-0">Pagado</th>
  
                    <th class="text-center">Días</th>
  
                  </tr>
  
                </thead>
  
                <tbody>
  
                  <tr *ngFor="let fol of folios, let i = index">
  
                    <td>
                      <h6>{{fol.NUMERO}}</h6>
                    </td>

                    <td class="text-center">{{fol.CIUDAD}}</td>
  
                    <td>{{fol.NOMBRE}}</td>
  
                    <td class="text-center font-weight-bold border border-bottom-0">{{fol.FECHA  | date: 'dd-MM-yy'}}</td>
  
                    <td class="text-center font-weight-bold border border-bottom-0 border-left-0" [ngClass]="{'text-warning': fol.VENCE === fechaEmit, 'text-danger': fol.VENCE !== fechaEmit}">{{fol.VENCE | date: 'dd-MM-yy'}}</td>
  
                    <td class="text-center cursor text-info" (click)="verDetallesFolio(fol.DOCID)" *ngIf="fol.TOTALPAGADO > 0">

                      <span class="badge badge-info">
                        {{fol.FOLIO}}
                      </span>

                    </td>

                    <td class="text-center" *ngIf="fol.TOTALPAGADO === 0">
                      {{fol.FOLIO}}
                    </td>
  
                    <td class="text-center font-weight-bold border border-bottom-0">{{fol.TOTAL | currency}}</td>
  
                    <td class="text-center font-weight-bold" [ngClass]="{'text-danger': fol.SALDOFINAL > 0, 'text-dark': fol.SALDOFINAL === 0}">{{fol.SALDOFINAL | currency}}</td>
  
                    <td class="text-center font-weight-bold border border-bottom-0">{{fol.TOTALPAGADO | currency}}</td>
  
                    <td class="text-center font-weight-bold" [ngClass]="{'text-danger': fol.RESTAN < 0, 'text-dark': fol.RESTAN >= 0}">{{fol.RESTAN}}</td>
  
                  </tr>
                
                </tbody>
  
              </table>
  
            </div>

          </div>

          <div class="col-md-4 col-lg-4" *ngIf="mostrarDetalleFolio">

            <button (click)="verDetallesFolio(id)" class="btn btn-danger">Cerrar</button>

            <h3 class="card-title">Información del Folio</h3>

            <div class="table-responsive">

              <table class="table table-sm font-14">

                <thead>

                  <tr>

                    <th>Realizó</th>

                    <th>Fecha</th>

                    <th>FormPag</th>

                    <th>Impo</th>

                    <th>Ref</th>

                    <th>Recibo</th>

                  </tr>

                </thead>

                <tbody>

                  <tr *ngFor="let det of detalles">

                    <td>{{det.NOMBRE}}</td>

                    <td>{{det.FECHAAPLICADA | date: 'dd-MM-yy'}}</td>

                    <td>{{det.FORMAPAGO}}</td>

                    <td>{{det.PAGADO | currency}}</td>

                    <td>{{det.PAGREF}}</td>

                    <td>{{det.RECIBO}}</td>
                    
                  </tr>

                  <tr>

                    <td class="text-right" colspan="3">Total</td>

                    <td class="text-right">{{totalDetalle | currency}}</td>

                    <td colspan="2"></td>

                  </tr>

                </tbody>

              </table>

            </div>

          </div>

        </div>

        <hr class="border border-bottom-0 border-left-0 border-right-0 w-100">

        <h4>Relación de Pagos por el Asesor del día</h4>

        <div class="table-responsive">

          <table class="table table-sm stylish-table">

            <thead>

              <tr>

                <th class="text-center">Cliente</th>

                <th class="text-center">Zona</th>

                <th class="text-center">Nombre</th>

                <th class="text-center">Folio</th>

                <th class="text-center">Pagado</th>

                <th class="text-center">Fecha</th>

                <th class="text-center">Forma Pago</th>

              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let pag of pagos, let i = index">

                <td class="text-center font-weight-bold"> {{pag.CLIENTE}}</td>

                <td class="text-center font-weight-bold"> {{pag.CIUDAD}}</td>

                <td class="text-left font-weight-bold"> {{pag.NOMBRE}}</td>

                <td class="text-center font-weight-bold">{{pag.NUMERO}}</td>

                <td class="text-center font-weight-bold">{{pag.PAGADO | currency}}</td>

                <td class="text-center font-weight-bold">{{pag.FECHAPAG | date: 'dd-MM-yyyy'}}</td>

                <td class="text-center font-weight-bold">{{pag.FORMAPAGO}}</td>

              </tr>
            
            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>