/* You can add global styles to this file, and also import other style files */
.total-pedidos .asesores-pedidos {
    margin-bottom: 0px!important;
    font-size: 10px!important;
    padding-top: 5px;
}

.total-pedidos .asesores-pedidos.text-truncate {
    width: 100%;
}

.total-pedidos .linea {
    border-bottom: 1px solid black;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}